Fuzzy matching in python

library - pyphonetics

In [1]:
pip install pyphonetics

Requirement already satisfied: pyphonetics in c:\users\vaishnavi\anaconda3\lib\site-packages (0.5.3)
Requirement already satisfied: unidecode<2,>=1 in c:\users\vaishnavi\anaconda3\lib\site-packages (from pyphonetics) (1.2.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
 from pyphonetics import Soundex

In [3]:
#we create an object to hold this Soundex()
snd=Soundex()

In [4]:
snd.phonetics("two")  #A word is inserted
#output is the sound of the input word

'T000'

In [5]:
snd.phonetics('to')

'T000'

clearly the above 2 words sound alike

In [6]:
snd.sounds_like('two','to') #both sound the same

True

In [7]:
snd.sounds_like('tree','free')

False

In [8]:
from pyphonetics import Metaphone

In [9]:
mp=Metaphone()

In [10]:
mp.sounds_like('Robert','Joseph')

False

In [11]:
mp.sounds_like('New Delhi','NewDelhi') 
#even with a space, it recognises two similar words

True

In [12]:
mp.phonetics('Bakelite')

'BKLT'

In [13]:
mp.sounds_like('Bakelite','Bake-lite')

True

#### hamming distance--distance between words based on sound
#### levenshtein distance-- distancce between words based on letters

### fuzzy matching with rapidfuzz

In [14]:
pip install rapidfuzz

Requirement already satisfied: rapidfuzz in c:\users\vaishnavi\anaconda3\lib\site-packages (3.12.1)Note: you may need to restart the kernel to use updated packages.

In [16]:
from rapidfuzz import fuzz

#### simple ratio

In [18]:
fuzz.ratio('new delhi','newdelhi')
#distnace between 2 words or strings
#distance is less--ratio value is high

94.11764705882352

#### Ratio when tokens are sorted

In [19]:
fuzz.token_sort_ratio('united states of america','united america of states')
#token--word in a string
#we sort the word and then find the ratio/distance

100.0

levenshtein distance customization

#### The Levenshtein distance is calculated as the minimum number of insertions, deletions, or substitutions needed to transform one string into another.

In [21]:
from rapidfuzz.distance import Levenshtein

In [28]:
lev_dist = Levenshtein.distance('new delhi', 'newdelhi')
lev_dist

1

Normalized levenshtein : distance between two words but normalized to fall between 0 and 1

In [33]:
norm_lev_dist = Levenshtein.normalized_distance('new delhi','delhi')

In [34]:
norm_lev_dist

0.4444444444444444

putting weights to levenshtein distance's letter insertion,deletion, substitution

In [35]:
Levenshtein.distance('new delhi', 'newdelhi',weights=(1,1,1)) 
#wts=insertion,deletion, substitution

1

as above we have a difference of a space character , there for as per the weight given to deletion, 1 , L distance is 1

In [36]:
Levenshtein.distance('new delhi', 'newdelhi',weights=(1,2,1))

2

 as per the weight given to deletion, 2, L distance is 2 now

#### comparing 2 strings in a dataframe
using process module in rapidfuzz

In [37]:
import pandas as pd

In [39]:
df=pd.DataFrame({'Place':['Orissa','Odissa','Mumbai','Bangalore','Bengaluru'],'Index':[20,30,50,60,70]})

In [40]:
df

       Place  Index
0     Orissa     20
1     Odissa     30
2     Mumbai     50
3  Bangalore     60
4  Bengaluru     70

In [41]:
df.Place

0       Orissa
1       Odissa
2       Mumbai
3    Bangalore
4    Bengaluru
Name: Place, dtype: object

In [46]:
from rapidfuzz.process import extractOne, extract, extract_iter

In [44]:
from rapidfuzz.distance import Levenshtein

In [45]:
from rapidfuzz.fuzz import ratio

#### We are comparing orissa with all values in the variable place in the df
('Orissa', 100.0, 0) --normalized L distance , L distance

In [47]:
extract('Orissa',df.Place)

[('Orissa', 100.0, 0),
 ('Odissa', 83.33333333333334, 1),
 ('Bangalore', 22.5, 3),
 ('Bengaluru', 22.5, 4),
 ('Mumbai', 16.666666666666664, 2)]

#### Gives one value that matches the most with the input

In [48]:
extractOne('Odrissa',df.Place)

('Orissa', 92.3076923076923, 0)

#### lets you iterate the comparison and give output if the distance/score is above a certain threshold

In [49]:
for x in extract_iter('Bangalore',df.Place,score_cutoff=50):
    print(x)

('Bangalore', 100.0, 3)
('Bengaluru', 66.66666666666667, 4)